.footer{
    width: 100%;
    display: flex;
    flex-flow: column;
    padding-block: 20px;
    background: linear-gradient(360deg, #1f7fa8, rgb(3, 16, 22, 0.9));
}

.footer h2{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.footer .container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.footer .contatos .telefone,
.footer .contatos .email{
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer .contatos .telefone a,
.footer .contatos .email a{
   text-decoration: none;
   color: white;
   font-size: 18px;
   transition: .5s;
}

 .footer .contatos .email a:hover,
 .footer .contatos .telefone a:hover{
    color: rgba(132, 53, 222, 1)
 }

.footer .linkedin{
    background-color: white;
    width: 30px;
    transition: .5s;
    border-radius: 50%;
}

.footer .redes{
    display: flex;
    gap: 30px;

}

.footer .linkedin:hover{
    background-color:#0a66c2;
    transform: translateY(-7px)
}

.footer .whats:hover{
    background-color: #0cc143;
}


@media (max-width:401px){
    .footer h2{
        font-size: 1.1rem;
    }

    .footer .contatos{
        /* border: 2px solid red; */
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer .redes{
        /* border: 2px solid red; */
        justify-content: center;
        margin: 0 auto;
    }
}